{#
  /**
  * @file
  * Theme override to display a block.
  *
  * Available variables:
  * - plugin_id: The ID of the block implementation.
  * - label: The configured label of the block if visible.
  * - configuration: A list of the block's configuration values.
  *   - label: The configured label for the block.
  *   - label_display: The display settings for the label.
  *   - provider: The module or other provider that provided this block plugin.
  *   - Block plugin specific settings will also be stored here.
  * - content: The content of this block.
  * - attributes: array of HTML attributes populated by modules, intended to
  *   be added to the main container tag of this template.
  *   - id: A valid HTML ID and guaranteed unique.
  * - title_attributes: Same as attributes, except applied to the main title
  *   tag that appears in the template.
  * - title_prefix: Additional output populated by modules, intended to be
  *   displayed in front of the main title tag that appears in the template.
  * - title_suffix: Additional output populated by modules, intended to be
  *   displayed after the main title tag that appears in the template.
  *
  * @see template_preprocess_block()
  */
  #}

<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright"><a href="http://barbarito.me">Dan Barbarito</a> © 2017</section>
    <nav class="site-footer-nav">
      <nav class="socal-links">
        <ul class="nav navbar-nav navbar-right socal-lonks">
          <li>
            <a target="_blank" href="mailto:dan@barbarito.me"><i class="fa fa-fw fa-envelope"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/danielbarbarito"><i class="fa fa-fw fa-github"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://gitlab.com/danbarbarito"><i class="fa fa-fw fa-gitlab"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://linkedin.com/in/danbarbarito"><i class="fa fa-fw fa-linkedin"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://stackoverflow.com/users/3141165/dan-barbarito"><i class="fa fa-fw fa-stack-exchange"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://t.me/danbarbarito"><i class="fa fa-fw fa-telegram"></i></a>
          </li>
          <li class="tip-paypal">
            <a target="_blank" href="https://paypal.me/danbarbarito"><i class="fa fa-fw fa-paypal"></i></a>
          </li>
        </ul>
      </nav>
    </nav>
  </div>
</footer>
